.navb{
    display: flex;
   justify-content: space-between;
   height: 50px;
   background-color:rgb(84, 193, 252);
   padding: 10px;
   padding-bottom: 35px;

}
.navb h3{
    font-style: oblique;
    font-size: 30px;

    padding-left: 20px;
}

.rhead{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-decoration: none;
    border: 2px solid;
    background-color: rgb(236, 181, 79);
    padding: 5px;
}

.lhead{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-decoration: none;
    border: 2px solid;
    background-color: rgb(244, 182, 69);
    padding: 5px;
}


.logo{
    text-align: center;
    
  }

.op{
    text-align: center;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 70px;
}  
.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-items: center;
    
}  

.reghead{
    font-size: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkslateblue;
}


.form{
    
    font-size: 30px;
    /* border: 2px,solid; */
    text-align: center;
    margin-top: 150px;
    padding: 30px;
    
}


/* .forml{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Moves the form back by 50% of its own width and height 
    background-color: #f2f2f2;
    height: 200px;
    width: 250px;
    padding-left: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 50px;
} 

*/

.fdiv{
    
    height: 70vh;
    
    
}

.forml{
    border: 2px solid gray;
    max-width: 700px;
    margin: auto;
    height: 70vh;
       
}

#formelements{
    position: relative;
    left: 220px;
    top: 150px;
    font-size: 22px;
    border-radius: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#formbutton{
    position: relative;
    left: 300px;
    top: 160px;
    font-size: 20px;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
}


.lwelcome{
    text-align: center;
    font-size: 50px;
    color: rgb(142, 200, 142);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: #f2f2f2;
    text-shadow: 2px 2px crimson;
}


.foot1{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    padding-top: 50px;
    height: 200px;
    width: 100%;
    border: 2px solid rgb(144, 218, 235);
    background-color: rgb(251, 240, 240);
    
    
}

.welcomediv{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color:rgb(78, 185, 209);
}

.grid-item h2{
    padding-top: 15px;
    position: relative;
    left: 100px;
    color: rgb(14, 14, 197);
}

.wellogout{
    color: gray;
    font-size: 30px;
    text-align: end;
    position: relative;
    bottom: 150px;
    right: 30px;
}